{% load static %}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>ConAlum Education Services</title>

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="{% static 'site_app/css/style.css' %}">
</head>
<body>


{#NAVBAR#}
<nav class="navbar navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <a href="#" class="navbar-brand glyphicon glyphicon-queen" id="logo"></a>
        </div>
        <ul class="nav navbar-nav navbar-right">
            <li><a href="#"> Home</a></li>
            <li><a href="#"> About</a></li>
            <li><a href="#"> Services</a></li>
            <li><a href="#"> Resources</a></li>
            <li><a href="#"> Contact</a></li>
        </ul>
    </div>
</nav>

{#JUMBOTRON#}
<div class="jumbotron text-center">
    <h1>
        ConAlum Education Services
    </h1>
    <p>
        We empower students, alumni, and organizations to tackle their student loan debt through training, advising, and
        consulting
    </p>
</div>

{#ABOUT#}
{% include 'site_app/about.html' %}

{#SERVICES SECTION#}
{% include 'site_app/services.html' %}

{#CONTACT SECTION#}
{% include 'site_app/contact.html' %}


</body>
</html>