{% load static %}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="{% static 'site_app/css/style.css' %}">
</head>
<body>

<nav class="navbar navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <a href="#" class="navbar-brand">LOGO</a>
        </div>
        <ul class="nav navbar-nav navbar-right">
            <li><a href="#"> Home</a></li>
            <li><a href="#"> Page 1</a></li>
            <li><a href="#"> Page 2</a></li>
            <li><a href="#"> Page 3</a></li>
        </ul>
    </div>
</nav>


<div class="jumbotron text-center">
    <h1>
        hello
    </h1>
    <p>
        there.
    </p>
</div>

<div class="container-fluid mid-section text-right" id="about">
    <h2 class="about-text">
        about
    </h2>
    <h4 class="about-text">
        the company
    </h4>
    <p class="about-text">
        for real tho.
    </p>
</div>
<div class="container-fluid bg-grey text-center mid-section">
    <h2>
        What we offer
    </h2>
    <h4>
        to you.
    </h4>
    <div class="row" id="top-row">
        <div class="col-sm-4">
            <span class="glyphicon glyphicon-off logo-small"></span>
            <h4>
                BLAH
            </h4>
            <p>
                Lorem ipsum cats scratch post
            </p>
        </div>
        <div class="col-sm-4">
            <span class="glyphicon glyphicon-cloud logo-small"></span>
            <h4>
                BLAH
            </h4>
            <p>
                Lorem ipsum cats scratch post
            </p>
        </div>
        <div class="col-sm-4">
            <span class="glyphicon glyphicon-road logo-small"></span>
            <h4>
                BLAH
            </h4>
            <p>
                Lorem ipsum cats scratch post
            </p>
        </div>
    </div>
    <div class="row" id="bottom-row">
        <div class="col-sm-4">
            <span class="glyphicon glyphicon-off logo-small"></span>
            <h4>
                BLAH
            </h4>
            <p>
                Lorem ipsum cats scratch post
            </p>
        </div>
        <div class="col-sm-4">
            <span class="glyphicon glyphicon-cloud logo-small"></span>
            <h4>
                BLAH
            </h4>
            <p>
                Lorem ipsum cats scratch post
            </p>
        </div>
        <div class="col-sm-4">
            <span class="glyphicon glyphicon-road logo-small"></span>
            <h4>
                BLAH
            </h4>
            <p>
                Lorem ipsum cats scratch post
            </p>
        </div>
    </div>

</div>


</body>
</html>