{% load static %}

<div class="container-fluid bg-grey text-center mid-section">
    <h2>
        What we offer
    </h2>
    <h4>
        to you.
    </h4>
    <div class="row" id="top-row">
        <div class="col-sm-4">
            <span class="glyphicon glyphicon-off logo-small"></span>
            <h4>
                Students and Alumni
            </h4>
            <p>
                Lorem ipsum cats scratch postLorem ipsum cats scratch postLorem ipsum cats scratch postLorem ipsum cats
                scratch postLorem ipsum cats scratch postLorem ipsum cats scratch postLorem ipsum cats scratch postLorem
                ipsum cats scratch post
            </p>
        </div>
        <div class="col-sm-4">
            <span class="glyphicon glyphicon-cloud logo-small"></span>
            <h4>
                Educational Institutions
            </h4>
            <p>
                Lorem ipsum cats scratch postLorem ipsum cats scratch postLorem ipsum cats scratch postLorem ipsum cats
                scratch postLorem ipsum cats scratch postLorem ipsum cats scratch postLorem ipsum cats scratch postLorem
                ipsum cats scratch postLorem ipsum cats scratch postLorem ipsum cats scratch postLorem ipsum cats
                scratch postLorem ipsum cats
                scratch postLorem ipsum cats scratch postLorem ipsum cats scratch postLorem ipsum cats scratch postLorem
                ipsum cats scratch post
            </p>
        </div>
        <div class="col-sm-4">
            <span class="glyphicon glyphicon-road logo-small"></span>
            <h4>
                Service Organizations
            </h4>
            <p>
                Lorem ipsum cats scratch postLorem ipsum cats scratch postLorem ipsum cats scratch postLorem ipsum cats
                scratch postLorem ipsum cats scratch postLorem ipsum cats scratch postLorem ipsum cats scratch postLorem
                ipsum cats scratch postLorem ipsum cats scratch postLorem ipsum cats scratch postLorem ipsum cats
                scratch postLorem ipsum cats
                scratch postLorem ipsum cats scratch

                postLorem ipsum cats scratch postLorem ipsum cats scratch postLorem
                ipsum cats scratch postLorem ipsum cats scratch postLorem ipsum cats scratch postLorem ipsum cats
                scratch postLorem ipsum cats
                scratch postLorem ipsum cats scratch postLorem ipsum cats scratch postLorem ipsum cats scratch postLorem
                ipsum cats scratch post
            </p>
        </div>
    </div>
    {#    <div class="row" id="bottom-row">#}
    {#        <div class="col-sm-4">#}
    {#            <span class="glyphicon glyphicon-off logo-small"></span>#}
    {#            <h4>#}
    {#                BLAH#}
    {#            </h4>#}
    {#            <p>#}
    {#                Lorem ipsum cats scratch post#}
    {#            </p>#}
    {#        </div>#}
    {#        <div class="col-sm-4">#}
    {#            <span class="glyphicon glyphicon-cloud logo-small"></span>#}
    {#            <h4>#}
    {#                BLAH#}
    {#            </h4>#}
    {#            <p>#}
    {#                Lorem ipsum cats scratch post#}
    {#            </p>#}
    {#        </div>#}
    {#        <div class="col-sm-4">#}
    {#            <span class="glyphicon glyphicon-road logo-small"></span>#}
    {#            <h4>#}
    {#                BLAH#}
    {#            </h4>#}
    {#            <p>#}
    {#                Lorem ipsum cats scratch post#}
    {#            </p>#}
    {#        </div>#}
</div>
</div>